.login-wrapper {
  min-height: 100vh;
  background: #f6f8fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .page-title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 30px;
    font-style:bold;
  }
}

.login-card {
  background: #ffffff;
  width: 380px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);

  .welcome {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 18px;

    .icon {
      font-size: 22px;
    }

    h3 {
      margin: 0;
      font-size: 16px;
      font-weight: 300;
    }

    p {
      margin: 4px 0 0;
      font-size: 13px;
      color: #6b7280;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      font-size: 13px;
      font-weight: 600;
      margin-top: 14px;
    }

    input {
      margin-top: 6px;
      padding: 12px 14px;
      border-radius: 10px;
      border: none;
      background: #f3f4f6;
      font-size: 14px;
      outline: none;
    }

    .row {
      margin-top: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .remember {
        font-size: 13px;
        display: flex;
        gap: 6px;
        align-items: center;
      }

      .forgot {
        font-size: 13px;
        color: #2563eb;
        text-decoration: none;
      }
    }

    .login-btn {
      margin-top: 20px;
      padding: 14px;
      border-radius: 999px;
      border: none;
      background: #4b5320;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
    }

    .register {
      margin: 16px 0 8px;
      text-align: center;
      font-size: 13px;
      color: #6b7280;
    }

    .create-btn {
      padding: 12px;
      border-radius: 999px;
      border: 1px solid #e5e7eb;
      background: #fff;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
    }

    .error {
      margin-top: 10px;
      font-size: 13px;
      color: red;
      text-align: center;
    }
  }
}
