.board-wrapper {
  padding: 40px;
  background: #f8f8f8;
  min-height: 100vh;
}

/* HEADER */

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  h1 {
    font-size: 42px;
    font-weight: 500;
  }
}

.right-actions {
  display: flex;
  gap: 20px;
}

.filter-container {
  position: relative;
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background: #e5e7eb;
  cursor: pointer;
  font-weight: 500;
}

.filter-btn img {
  width: 16px;
}

.filter-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  padding: 15px;
  width: 180px;
  z-index: 100;
}

.filter-dropdown button {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  border-radius: 6px;
}

.filter-dropdown button:hover {
  background: #f3f4f6;
}

.filter-dropdown .close {
  text-align: right;
  font-weight: bold;
}

/* BOARD */

.board {
  display: flex;
  gap: 30px;
  justify-content: center;
}

/* COLUMNS */

.column {
  width: 380px;
  border-radius: 18px;
  padding: 20px;
  min-height: 500px;
}

.column.todo {
  background: #f3f4f6;
}

.column.progress {
  background: #e0e7ff;
}

.column.done {
  background: #e6f4ea;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  h3 {
    font-size: 18px;
    font-weight: 500;
  }

  .count {
    background: #d1d5db;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
}

/* TASK CARD */

.task-card {
  background: #fff;
  border-radius: 14px;
  padding: 16px;
  margin-bottom: 16px;
  cursor: move;
  transition: 0.2s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

.task-card:hover {
  transform: translateY(-2px);
}

.task-title {
  font-weight: 600;
  margin-bottom: 6px;
}

.task-project {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 12px;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priority {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  text-transform: capitalize;
}


.priority.low { background: #22c55e; }
.priority.medium { background: #f59e0b; }
.priority.high { background: #f97316; }
.priority.urgent { background: #ef4444; }

.due {
  font-size: 13px;
  color: #6b7280;
}


.cdk-drag-preview {
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  border-radius: 14px;
}

.cdk-drag-placeholder {
  opacity: 0.3;
}
