<div class="board-container">
  <div class="board-header">
    <h2>Task Board</h2>

    <div class="filters">
      <button (click)="showFilters = !showFilters" class="filter-btn">
        <img src="/icons/filters.png" alt="filter-btn"> Filter
      </button>
      <div *ngIf="showFilters" class="filter-options">
        <button class="close-btn" (click)="showFilters = false">✕</button>
        <button (click)="setFilter('')">All Priorities</button>
        <button (click)="setFilter('low')">Low</button>
        <button (click)="setFilter('medium')">Medium</button>
        <button (click)="setFilter('high')">High</button>
        <button (click)="setFilter('urgent')">Urgent</button>
      </div>
    </div>
  </div>

  <div class="board" cdkDropListGroup>
    <div class="column" id="todo" cdkDropList [cdkDropListData]="todoTasks" (cdkDropListDropped)="onDrop($event)">
      <h3>To Do</h3>
      <div class="task-card" *ngFor="let task of todoTasks" cdkDrag [style.background]="getCardColor(task.priority)">
        <h4>{{ task.title }}</h4>
        <p>{{ task.description }}</p>
        <p>Priority: {{ task.priority }}</p>
        <p>Assigned: {{ task.assigned }}</p>
        <p>Due: {{ task.dueDate }}</p>
        <p>Project: {{ task.projectTitle }}</p>
      </div>
    </div>
    <div class="column" id="inprogress" cdkDropList [cdkDropListData]="inProgressTasks" (cdkDropListDropped)="onDrop($event)">
      <h3>In Progress</h3>
      <div class="task-card" *ngFor="let task of inProgressTasks" cdkDrag [style.background]="getCardColor(task.priority)">
        <h4>{{ task.title }}</h4>
        <p>{{ task.description }}</p>
        <p>Priority: {{ task.priority }}</p>
        <p>Assigned: {{ task.assigned }}</p>
        <p>Due: {{ task.dueDate }}</p>
        <p>Project: {{ task.projectTitle }}</p>
      </div>
    </div>
    <div class="column" id="done" cdkDropList [cdkDropListData]="doneTasks" (cdkDropListDropped)="onDrop($event)">
      <h3>Done</h3>
      <div class="task-card" *ngFor="let task of doneTasks" cdkDrag [style.background]="getCardColor(task.priority)">
        <h4>{{ task.title }}</h4>
        <p>{{ task.description }}</p>
        <p>Priority: {{ task.priority }}</p>
        <p>Assigned: {{ task.assigned }}</p>
        <p>Due: {{ task.dueDate }}</p>
        <p>Project: {{ task.projectTitle }}</p>
      </div>
    </div>
  </div>
</div>