.board-wrapper {
  padding: 40px;
  background: #f8f8f8;
  min-height: 100vh;
}


.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  h1 {
    font-size: 42px;
    font-weight: 500;
  }
}

.filter-btn {
  background: #e6e6e6;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}



.filter-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.25);
  z-index: 90;
}

.filter-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 340px;
  background: #cddbb2;
  padding: 25px;
  z-index: 100;
  overflow-y: auto;
  box-shadow: -5px 0 20px rgba(0,0,0,0.15);
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .close {
    font-size: 18px;
    cursor: pointer;
  }
}

.filter-card {
  background: #f5f5f5;
  padding: 18px;
  border-radius: 16px;
  margin-bottom: 20px;

  h4 {
    font-size: 15px;
    margin-bottom: 12px;
  }

  label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    cursor: pointer;
  }

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

.clear-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}



.board {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.column {
  width: 380px;
  border-radius: 18px;
  padding: 20px;
  min-height: 500px;
}

.column.todo { background: #f3f4f6; }
.column.progress { background: #e0e7ff; }
.column.done { background: #e6f4ea; }

.column-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  h3 {
    font-size: 18px;
  }

  .count {
    background: #d1d5db;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
}

.task-card {
  background: #fff;
  border-radius: 14px;
  padding: 16px;
  margin-bottom: 16px;
  cursor: move;
  transition: 0.2s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

.task-card:hover {
  transform: translateY(-2px);
}

.task-title {
  font-weight: 600;
  margin-bottom: 6px;
}

.task-project {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 12px;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priority {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  text-transform: capitalize;
}

.priority.low { background: #22c55e; }
.priority.medium { background: #f59e0b; }
.priority.high { background: #f97316; }
.priority.urgent { background: #ef4444; }

.due {
  font-size: 13px;
  color: #6b7280;
}