.dashboard-container {
  padding: 30px;
  font-family: 'Segoe UI', sans-serif;
  background: #f6f8fb;
  min-height: 100vh;
}

.title {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.card {
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);

  h4 { font-size: 14px; }
  h2 { margin: 10px 0; font-size: 30px; }
  span { font-size: 12px; color: #666; }
}

.blue   { background: #e3efff; }
.green  { background: #e7fcef; }
.purple { background: #f3ebff; }
.red    { background: #f6dddd; }
.white  { background: #ffffff; }

.charts-section {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.chart-box {
  background: #fff;
  padding: 80px;
  border-radius: 74px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  text-align: center;
  
  

  h3 { margin-bottom: 15px; }

  canvas {
    width: 300px !important;
    height: 300px !important;
    margin: auto;
  }
}
